body{
    font-family: Arial;
    margin: 40px;
}

/* Text Shadow */

.text-shadow{
    font-size: 40px;
    text-shadow: 3px 3px 5px gray;
}

/* Box Shadow */

.box-shadow{
    width: 200px;
    height: 100px;
    background: #3d798d;
    text-align: center;
    line-height: 100px;
    margin-top: 40px;

    box-shadow: 11px 12px 7px 4px gray;
}