body {
    font-family: Arial, sans-serif;
    padding: 30px;
}

/* 1️⃣ Text Color */
.color {
    color: blue;
}

/* 2️⃣ Text Align */
.align {
    text-align: center;
}

/* 3️⃣ Text Decoration */
.decoration {
    text-decoration: underline;
}

/* 4️⃣ Text Transform */
.transform {
    text-transform: uppercase;
}

/* 5️⃣ Letter & Word Spacing */
.spacing {
    letter-spacing: 3px;
    word-spacing: 10px;
}

/* 6️⃣ Line Height */
.indent {
    text-indent: 50px;
    line-height: 30px;
}

/* 7️⃣ Text Shadow */
.shadow {
    font-size: 30px;
    text-shadow: 2px 2px 5px gray;
}